.btn-dt {
    box-shadow: none;
    border: 1px solid #ccc;
    max-height: 22px;
    min-height: 22px;
    padding: 0 5px;
    background-color: white;
}

.btn-elegant{
    background-color:#2E2E2E
}
.btn-elegant:hover{
    background-color:#3b3b3b!important
}
.btn-elegant.active,.btn-elegant:active,.btn-elegant:focus{
    background-color:#080808!important
}
.btn-elegant.dropdown-toggle{
    background-color:#2E2E2E!important
}
.btn-elegant.dropdown-toggle:focus,.btn-elegant.dropdown-toggle:hover{
    background-color:#3b3b3b!important
}
.btn-outline-elegant{
    border:2px solid #2E2E2E;
    color:#2E2E2E!important;
    background-color:transparent
}
.btn-outline-elegant.active,.btn-outline-elegant:active,.btn-outline-elegant:active:focus,.btn-outline-elegant:focus,.btn-outline-elegant:hover{
    background-color:transparent;
    color:#2E2E2E;
    border-color:#2E2E2E
}
.btn-unique{
    background-color:#880e4f
}
.btn-unique:hover{
    background-color:#9f105c!important
}
.btn-unique.active,.btn-unique:active,.btn-unique:focus{
    background-color:#430727!important
}
.btn-unique.dropdown-toggle{
    background-color:#880e4f!important
}
.btn-unique.dropdown-toggle:focus,.btn-unique.dropdown-toggle:hover{
    background-color:#9f105c!important
}
.btn-outline-unique{
    border:2px solid #880e4f;
    color:#880e4f!important;
    background-color:transparent
}
.btn-outline-unique.active,.btn-outline-unique:active,.btn-outline-unique:active:focus,.btn-outline-unique:focus,.btn-outline-unique:hover{
    background-color:transparent;
    color:#880e4f;
    border-color:#880e4f
}
.btn-dark-green{
    background-color:#388E3C
}
.btn-dark-green:hover{
    background-color:#3fa044!important
}
.btn-dark-green.active,.btn-dark-green:active,.btn-dark-green:focus{
    background-color:#225725!important
}
.btn-dark-green.dropdown-toggle{
    background-color:#388E3C!important
}
.btn-dark-green.dropdown-toggle:focus,.btn-dark-green.dropdown-toggle:hover{
    background-color:#3fa044!important
}
.btn-outline-dark-green{
    border:2px solid #388E3C;
    color:#388E3C!important;
    background-color:transparent
}
.btn-outline-dark-green.active,.btn-outline-dark-green:active,.btn-outline-dark-green:active:focus,.btn-outline-dark-green:focus,.btn-outline-dark-green:hover{
    background-color:transparent;
    color:#388E3C;
    border-color:#388E3C
}
.btn-mdb-color{
    background-color:#59698D
}
.btn-mdb-color:hover{
    background-color:#63759d!important
}
.btn-mdb-color.active,.btn-mdb-color:active,.btn-mdb-color:focus{
    background-color:#3b465e!important
}
.btn-mdb-color.dropdown-toggle{
    background-color:#59698D!important
}
.btn-mdb-color.dropdown-toggle:focus,.btn-mdb-color.dropdown-toggle:hover{
    background-color:#63759d!important
}
.btn-outline-mdb-color{
    border:2px solid #59698D;
    color:#59698D!important;
    background-color:transparent
}
.btn-outline-mdb-color.active,.btn-outline-mdb-color:active,.btn-outline-mdb-color:active:focus,.btn-outline-mdb-color:focus,.btn-outline-mdb-color:hover{
    background-color:transparent;
    color:#59698D;
    border-color:#59698D
}
.btn-red{
    background-color:#D32F2F
}
.btn-red:hover{
    background-color:#d74444!important
}
.btn-red.active,.btn-red:active,.btn-red:focus{
    background-color:#962020!important
}
.btn-red.dropdown-toggle{
    background-color:#D32F2F!important
}
.btn-red.dropdown-toggle:focus,.btn-red.dropdown-toggle:hover{
    background-color:#d74444!important
}
.btn-outline-red{
    border:2px solid #D32F2F;
    color:#D32F2F!important;
    background-color:transparent
}
.btn-outline-red.active,.btn-outline-red:active,.btn-outline-red:active:focus,.btn-outline-red:focus,.btn-outline-red:hover{
    background-color:transparent;
    color:#D32F2F;
    border-color:#D32F2F
}
.btn-pink{
    background-color:#ec407a
}
.btn-pink:hover{
    background-color:#ee578a!important
}
.btn-pink.active,.btn-pink:active,.btn-pink:focus{
    background-color:#cb1452!important
}
.btn-pink.dropdown-toggle{
    background-color:#ec407a!important
}
.btn-pink.dropdown-toggle:focus,.btn-pink.dropdown-toggle:hover{
    background-color:#ee578a!important
}
.btn-outline-pink{
    border:2px solid #ec407a;
    color:#ec407a!important;
    background-color:transparent
}
.btn-outline-pink.active,.btn-outline-pink:active,.btn-outline-pink:active:focus,.btn-outline-pink:focus,.btn-outline-pink:hover{
    background-color:transparent;
    color:#ec407a;
    border-color:#ec407a
}
.btn-purple{
    background-color:#8e24aa
}
.btn-purple:hover{
    background-color:#a028bf!important
}
.btn-purple.active,.btn-purple:active,.btn-purple:focus{
    background-color:#59176b!important
}
.btn-purple.dropdown-toggle{
    background-color:#8e24aa!important
}
.btn-purple.dropdown-toggle:focus,.btn-purple.dropdown-toggle:hover{
    background-color:#a028bf!important
}
.btn-outline-purple{
    border:2px solid #8e24aa;
    color:#8e24aa!important;
    background-color:transparent
}
.btn-outline-purple.active,.btn-outline-purple:active,.btn-outline-purple:active:focus,.btn-outline-purple:focus,.btn-outline-purple:hover{
    background-color:transparent;
    color:#8e24aa;
    border-color:#8e24aa
}
.btn-deep-purple{
    background-color:#512da8
}
.btn-deep-purple:hover{
    background-color:#5b32bc!important
}
.btn-deep-purple.active,.btn-deep-purple:active,.btn-deep-purple:focus{
    background-color:#341d6c!important
}
.btn-deep-purple.dropdown-toggle{
    background-color:#512da8!important
}
.btn-deep-purple.dropdown-toggle:focus,.btn-deep-purple.dropdown-toggle:hover{
    background-color:#5b32bc!important
}
.btn-outline-deep-purple{
    border:2px solid #512da8;
    color:#512da8!important;
    background-color:transparent
}
.btn-outline-deep-purple.active,.btn-outline-deep-purple:active,.btn-outline-deep-purple:active:focus,.btn-outline-deep-purple:focus,.btn-outline-deep-purple:hover{
    background-color:transparent;
    color:#512da8;
    border-color:#512da8
}
.btn-indigo{
    background-color:#3f51b5
}
.btn-indigo:hover{
    background-color:#4d5ec1!important
}
.btn-indigo.active,.btn-indigo:active,.btn-indigo:focus{
    background-color:#2b387c!important
}
.btn-indigo.dropdown-toggle{
    background-color:#3f51b5!important
}
.btn-indigo.dropdown-toggle:focus,.btn-indigo.dropdown-toggle:hover{
    background-color:#4d5ec1!important
}
.btn-outline-indigo{
    border:2px solid #3f51b5;
    color:#3f51b5!important;
    background-color:transparent
}
.btn-outline-indigo.active,.btn-outline-indigo:active,.btn-outline-indigo:active:focus,.btn-outline-indigo:focus,.btn-outline-indigo:hover{
    background-color:transparent;
    color:#3f51b5;
    border-color:#3f51b5
}
.btn-blue{
    background-color:#1976D2
}
.btn-blue:hover{
    background-color:#2083e4!important
}
.btn-blue.active,.btn-blue:active,.btn-blue:focus{
    background-color:#11508e!important
}
.btn-blue.dropdown-toggle{
    background-color:#1976D2!important
}
.btn-blue.dropdown-toggle:focus,.btn-blue.dropdown-toggle:hover{
    background-color:#2083e4!important
}
.btn-outline-blue{
    border:2px solid #1976D2;
    color:#1976D2!important;
    background-color:transparent
}
.btn-outline-blue.active,.btn-outline-blue:active,.btn-outline-blue:active:focus,.btn-outline-blue:focus,.btn-outline-blue:hover{
    background-color:transparent;
    color:#1976D2;
    border-color:#1976D2
}
.btn-light-blue{
    background-color:#82B1FF
}
.btn-light-blue:hover{
    background-color:#9cc1ff!important
}
.btn-light-blue.active,.btn-light-blue:active,.btn-light-blue:focus{
    background-color:#3681ff!important
}
.btn-light-blue.dropdown-toggle{
    background-color:#82B1FF!important
}
.btn-light-blue.dropdown-toggle:focus,.btn-light-blue.dropdown-toggle:hover{
    background-color:#9cc1ff!important
}
.btn-outline-light-blue{
    border:2px solid #82B1FF;
    color:#82B1FF!important;
    background-color:transparent
}
.btn-outline-light-blue.active,.btn-outline-light-blue:active,.btn-outline-light-blue:active:focus,.btn-outline-light-blue:focus,.btn-outline-light-blue:hover{
    background-color:transparent;
    color:#82B1FF;
    border-color:#82B1FF
}
.btn-cyan{
    background-color:#00bcd4
}
.btn-cyan:hover{
    background-color:#00d3ee!important
}
.btn-cyan.active,.btn-cyan:active,.btn-cyan:focus{
    background-color:#007888!important
}
.btn-cyan.dropdown-toggle{
    background-color:#00bcd4!important
}
.btn-cyan.dropdown-toggle:focus,.btn-cyan.dropdown-toggle:hover{
    background-color:#00d3ee!important
}
.btn-outline-cyan{
    border:2px solid #00bcd4;
    color:#00bcd4!important;
    background-color:transparent
}
.btn-outline-cyan.active,.btn-outline-cyan:active,.btn-outline-cyan:active:focus,.btn-outline-cyan:focus,.btn-outline-cyan:hover{
    background-color:transparent;
    color:#00bcd4;
    border-color:#00bcd4
}
.btn-teal{
    background-color:#00796b
}
.btn-teal:hover{
    background-color:#009382!important
}
.btn-teal.active,.btn-teal:active,.btn-teal:focus{
    background-color:#002d27!important
}
.btn-teal.dropdown-toggle{
    background-color:#00796b!important
}
.btn-teal.dropdown-toggle:focus,.btn-teal.dropdown-toggle:hover{
    background-color:#009382!important
}
.btn-outline-teal{
    border:2px solid #00796b;
    color:#00796b!important;
    background-color:transparent
}
.btn-outline-teal.active,.btn-outline-teal:active,.btn-outline-teal:active:focus,.btn-outline-teal:focus,.btn-outline-teal:hover{
    background-color:transparent;
    color:#00796b;
    border-color:#00796b
}
.btn-green{
    background-color:#388E3C
}
.btn-green:hover{
    background-color:#3fa044!important
}
.btn-green.active,.btn-green:active,.btn-green:focus{
    background-color:#225725!important
}
.btn-green.dropdown-toggle{
    background-color:#388E3C!important
}
.btn-green.dropdown-toggle:focus,.btn-green.dropdown-toggle:hover{
    background-color:#3fa044!important
}
.btn-outline-green{
    border:2px solid #388E3C;
    color:#388E3C!important;
    background-color:transparent;
}
.btn-outline-green.active,.btn-outline-green:active,.btn-outline-green:active:focus,.btn-outline-green:focus,.btn-outline-green:hover{
    background-color:transparent;
    color:#388E3C;
    border-color:#388E3C;
}
.btn-light-green{
    background-color:#8bc34a;
}
.btn-light-green:hover{
    background-color:#97c95d!important
}
.btn-light-green.active,.btn-light-green:active,.btn-light-green:focus{
    background-color:#649130!important
}
.btn-light-green.dropdown-toggle{
    background-color:#8bc34a!important
}
.btn-light-green.dropdown-toggle:focus,.btn-light-green.dropdown-toggle:hover{
    background-color:#97c95d!important
}
.btn-outline-light-green{
    border:2px solid #8bc34a;
    color:#8bc34a!important;
    background-color:transparent
}
.btn-outline-light-green.active,.btn-outline-light-green:active,.btn-outline-light-green:active:focus,.btn-outline-light-green:focus,.btn-outline-light-green:hover{
    background-color:transparent;
    color:#8bc34a;
    border-color:#8bc34a
}
.btn-lime{
    background-color:#afb42b
}
.btn-lime:hover{
    background-color:#c3c930!important
}
.btn-lime.active,.btn-lime:active,.btn-lime:focus{
    background-color:#73761c!important
}
.btn-lime.dropdown-toggle{
    background-color:#afb42b!important
}
.btn-lime.dropdown-toggle:focus,.btn-lime.dropdown-toggle:hover{
    background-color:#c3c930!important
}
.btn-outline-lime{
    border:2px solid #afb42b;
    color:#afb42b!important;
    background-color:transparent
}
.btn-outline-lime.active,.btn-outline-lime:active,.btn-outline-lime:active:focus,.btn-outline-lime:focus,.btn-outline-lime:hover{
    background-color:transparent;
    color:#afb42b;
    border-color:#afb42b
}
.btn-yellow{
    background-color:#fbc02d
}
.btn-yellow:hover{
    background-color:#fbc846!important
}
.btn-yellow.active,.btn-yellow:active,.btn-yellow:focus{
    background-color:#d79b04!important
}
.btn-yellow.dropdown-toggle{
    background-color:#fbc02d!important
}
.btn-yellow.dropdown-toggle:focus,.btn-yellow.dropdown-toggle:hover{
    background-color:#fbc846!important
}
.btn-outline-yellow{
    border:2px solid #fbc02d;
    color:#fbc02d!important;
    background-color:transparent
}
.btn-outline-yellow.active,.btn-outline-yellow:active,.btn-outline-yellow:active:focus,.btn-outline-yellow:focus,.btn-outline-yellow:hover{
    background-color:transparent;
    color:#fbc02d;
    border-color:#fbc02d
}
.btn-amber{
    background-color:#ffa000
}
.btn-amber:hover{
    background-color:#ffaa1a!important
}
.btn-amber.active,.btn-amber:active,.btn-amber:focus{
    background-color:#b37000!important
}
.btn-amber.dropdown-toggle{
    background-color:#ffa000!important
}
.btn-amber.dropdown-toggle:focus,.btn-amber.dropdown-toggle:hover{
    background-color:#ffaa1a!important
}
.btn-outline-amber{
    border:2px solid #ffa000;
    color:#ffa000!important;
    background-color:transparent
}
.btn-outline-amber.active,.btn-outline-amber:active,.btn-outline-amber:active:focus,.btn-outline-amber:focus,.btn-outline-amber:hover{
    background-color:transparent;
    color:#ffa000;
    border-color:#ffa000
}
.btn-orange{
    background-color:#f57c00
}
.btn-orange:hover{
    background-color:#ff8910!important
}
.btn-orange.active,.btn-orange:active,.btn-orange:focus{
    background-color:#a95500!important
}
.btn-orange.dropdown-toggle{
    background-color:#f57c00!important
}
.btn-orange.dropdown-toggle:focus,.btn-orange.dropdown-toggle:hover{
    background-color:#ff8910!important
}
.btn-outline-orange{
    border:2px solid #f57c00;
    color:#f57c00!important;
    background-color:transparent
}
.btn-outline-orange.active,.btn-outline-orange:active,.btn-outline-orange:active:focus,.btn-outline-orange:focus,.btn-outline-orange:hover{
    background-color:transparent;
    color:#f57c00;
    border-color:#f57c00
}
.btn-deep-orange{
    background-color:#ff7043
}
.btn-deep-orange:hover{
    background-color:#ff835d!important
}
.btn-deep-orange.active,.btn-deep-orange:active,.btn-deep-orange:focus{
    background-color:#f63b00!important
}
.btn-deep-orange.dropdown-toggle{
    background-color:#ff7043!important
}
.btn-deep-orange.dropdown-toggle:focus,.btn-deep-orange.dropdown-toggle:hover{
    background-color:#ff835d!important
}
.btn-outline-deep-orange{
    border:2px solid #ff7043;
    color:#ff7043!important;
    background-color:transparent
}
.btn-outline-deep-orange.active,.btn-outline-deep-orange:active,.btn-outline-deep-orange:active:focus,.btn-outline-deep-orange:focus,.btn-outline-deep-orange:hover{
    background-color:transparent;
    color:#ff7043;
    border-color:#ff7043
}
.btn-brown{
    background-color:#795548
}
.btn-brown:hover{
    background-color:#896052!important
}
.btn-brown.active,.btn-brown:active,.btn-brown:focus{
    background-color:#49332b!important
}
.btn-brown.dropdown-toggle{
    background-color:#795548!important
}
.btn-brown.dropdown-toggle:focus,.btn-brown.dropdown-toggle:hover{
    background-color:#896052!important
}
.btn-outline-brown{
    border:2px solid #795548;
    color:#795548!important;
    background-color:transparent
}
.btn-outline-brown.active,.btn-outline-brown:active,.btn-outline-brown:active:focus,.btn-outline-brown:focus,.btn-outline-brown:hover{
    background-color:transparent;
    color:#795548;
    border-color:#795548
}
.btn-grey{
    background-color:#616161
}
.btn-grey:hover{
    background-color:#6e6e6e!important
}
.btn-grey.active,.btn-grey:active,.btn-grey:focus{
    background-color:#3b3b3b!important
}
.btn-grey.dropdown-toggle{
    background-color:#616161!important
}
.btn-grey.dropdown-toggle:focus,.btn-grey.dropdown-toggle:hover{
    background-color:#6e6e6e!important
}
.btn-outline-grey{
    border:2px solid #616161;
    color:#616161!important;
    background-color:transparent
}
.btn-outline-grey.active,.btn-outline-grey:active,.btn-outline-grey:active:focus,.btn-outline-grey:focus,.btn-outline-grey:hover{
    background-color:transparent;
    color:#616161;
    border-color:#616161
}
.btn-blue-grey{
    background-color:#78909c
}
.btn-blue-grey:hover{
    background-color:#879ca7!important
}
.btn-blue-grey.active,.btn-blue-grey:active,.btn-blue-grey:focus{
    background-color:#546973!important
}
.btn-blue-grey.dropdown-toggle{
    background-color:#78909c!important
}
.btn-blue-grey.dropdown-toggle:focus,.btn-blue-grey.dropdown-toggle:hover{
    background-color:#879ca7!important
}
.btn-outline-blue-grey{
    border:2px solid #78909c;
    color:#78909c!important;
    background-color:transparent
}
.btn-outline-blue-grey.active,.btn-outline-blue-grey:active,.btn-outline-blue-grey:active:focus,.btn-outline-blue-grey:focus,.btn-outline-blue-grey:hover{
    background-color:transparent;
    color:#78909c;
    border-color:#78909c
}
.btn-white{
    background-color:#fff
}
.btn-white:hover{
    background-color:#fff!important
}
.btn-white.active,.btn-white:active,.btn-white:focus{
    background-color:#d9d9d9!important
}
.btn-white.dropdown-toggle,.btn-white.dropdown-toggle:focus,.btn-white.dropdown-toggle:hover{
    background-color:#fff!important
}
.btn-outline-white{
    border:2px solid #fff;
    color:#fff!important;
    background-color:transparent
}
.btn-outline-white.active,.btn-outline-white:active,.btn-outline-white:active:focus,.btn-outline-white:focus,.btn-outline-white:hover{
    background-color:transparent;
    color:#fff;
    border-color:#fff
}
.btn-black{
    background-color:#000
}
.btn-black:hover{
    background-color:#0d0d0d!important
}
.btn-black.active,.btn-black.dropdown-toggle,.btn-black:active,.btn-black:focus{
    background-color:#000!important
}
.btn-black.dropdown-toggle:focus,.btn-black.dropdown-toggle:hover{
    background-color:#0d0d0d!important
}
.btn-outline-black{
    border:2px solid #000;
    color:#000!important;
    background-color:transparent
}
.btn-outline-black.active,.btn-outline-black:active,.btn-outline-black:active:focus,.btn-outline-black:focus,.btn-outline-black:hover{
    background-color:transparent;
    color:#000;
    border-color:#000
}

.btn-colour-1 {
    color: #fff;
    background-color: #004E64;
    border-color: #004E64;
    font-weight: bold;
    border-radius: 0;
  }

  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #003D4F;
    color: #ffffff;
    border-color: #003D4F;
  }

  .btn-green-gradient {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #10A350;
	*background-color: #10A350;
	background-image: -moz-linear-gradient(top, #0E9E60, #10A350);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E9E60), to(#10A350));
	background-image: -webkit-linear-gradient(top, #0E9E60, #10A350);
	background-image: -o-linear-gradient(top, #0E9E60, #10A350);
	background-image: linear-gradient(to bottom, #0E9E60, #10A350);
	background-repeat: repeat-x;
	border-color: #10A350;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0E9E60', endColorstr='#10A350', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-green-gradient:hover,
.btn-green-gradient:focus,
.btn-green-gradient:active,
.btn-green-gradient.active,
.btn-green-gradient.disabled,
.btn-green-gradient[disabled] {
	color: #FFFFFF;
	background-color: #10A350;
	*background-color: #003bb3;
}

.btn-indigo-gradient {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #435CBF;
	*background-color: #435CBF;
	background-image: -moz-linear-gradient(top, #0E2B9E, #435CBF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0E2B9E), to(#435CBF));
	background-image: -webkit-linear-gradient(top, #0E2B9E, #435CBF);
	background-image: -o-linear-gradient(top, #0E2B9E, #435CBF);
	background-image: linear-gradient(to bottom, #0E2B9E, #435CBF);
	background-repeat: repeat-x;
	border-color: #435CBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0E2B9E', endColorstr='#435CBF', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-indigo-gradient:hover,
.btn-indigo-gradient:focus,
.btn-indigo-gradient:active,
.btn-indigo-gradient.active,
.btn-indigo-gradient.disabled,
.btn-indigo-gradient[disabled] {
	color: #FFFFFF;
	background-color: #435CBF;
	*background-color: #003bb3;
}

.btn-gold-gradient {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #BF7443;
	*background-color: #BF7443;
	background-image: -moz-linear-gradient(top, #9E600E, #BF7443);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9E600E), to(#BF7443));
	background-image: -webkit-linear-gradient(top, #9E600E, #BF7443);
	background-image: -o-linear-gradient(top, #9E600E, #BF7443);
	background-image: linear-gradient(to bottom, #9E600E, #BF7443);
	background-repeat: repeat-x;
	border-color: #BF7443;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9E600E', endColorstr='#BF7443', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-gold-gradient:hover,
.btn-gold-gradient:focus,
.btn-gold-gradient:active,
.btn-gold-gradient.active,
.btn-gold-gradient.disabled,
.btn-gold-gradient[disabled] {
	color: #FFFFFF;
	background-color: #BF7443;
	*background-color: #003bb3;
}

.btn-soft-green-gradient {
	color: #2E2E2E;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #AED4B4;
	*background-color: #AED4B4;
	background-image: -moz-linear-gradient(top, #AED4B4, #AED4B4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AED4B4), to(#AED4B4));
	background-image: -webkit-linear-gradient(top, #AED4B4, #AED4B4);
	background-image: -o-linear-gradient(top, #AED4B4, #AED4B4);
	background-image: linear-gradient(to bottom, #AED4B4, #AED4B4);
	background-repeat: repeat-x;
	border-color: #AED4B4;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AED4B4', endColorstr='#AED4B4', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-soft-green-gradient:hover,
.btn-soft-green-gradient:focus,
.btn-soft-green-gradient:active,
.btn-soft-green-gradient.active,
.btn-soft-green-gradient.disabled,
.btn-soft-green-gradient[disabled] {
	color: #FFFFFF;
	background-color: #AED4B4;
	*background-color: #003bb3;
}

.btn-soft-blue-gradient {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #1471C9;
	*background-color: #1471C9;
	background-image: -moz-linear-gradient(top, #1877AD, #1471C9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1877AD), to(#1471C9));
	background-image: -webkit-linear-gradient(top, #1877AD, #1471C9);
	background-image: -o-linear-gradient(top, #1877AD, #1471C9);
	background-image: linear-gradient(to bottom, #1877AD, #1471C9);
	background-repeat: repeat-x;
	border-color: #1471C9;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1877AD', endColorstr='#1471C9', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
    .btn-soft-blue-gradient:hover,
    .btn-soft-blue-gradient:focus,
    .btn-soft-blue-gradient:active,
    .btn-soft-blue-gradient.active,
    .btn-soft-blue-gradient.disabled,
    .btn-soft-blue-gradient[disabled] {
        color: #FFFFFF;
        background-color: #1471C9;
        *background-color: #003bb3;
    }


    .font-11{
        font-size: 11px !important;
    }
    .font-12{
        font-size: 12px !important;
    }
    .font-13{
        font-size: 13px !important;
    }
    .font-14{
        font-size: 14px !important;
    }

    .font-15{
        font-size: 15px !important;
    }

    .font-16{
        font-size: 16px !important;
    }

    .font-17{
        font-size: 17px !important;
    }
    .font-18{
        font-size: 18px !important;
    }
    .font-19{
        font-size: 19px !important;
    }

    .font-30{
        font-size: 30px !important;
    }


    /** Text Color */
    .text-blue {
        color: #1f44ff !important;
    }
	.text-indigo {
        color: #6610f2 !important;
    }
	.text-purple{
        color: #6f42c1 !important;
    }
	.text-pink {
        color: #d63384 !important;
    }
	.text-red {
        color: #dc3545 !important;
    }
	.text-orange {
        color: #fd7e14 !important;
    }
	.text-yellow {
        color: #ffc107 !important;
    }
    .text-biscuit{
        color: #ffe4c4 !important;
    }
    .text-gold {
        color: #DEB887FF !important;
    }
	.text-green {
        color: #198754 !important;
    }
	.text-teal {
        color: #20c997 !important;
    }
	.text-cyan {
        color: #0dcaf0 !important;
    }
	.text-white {
        color: #fff !important;
    }

    .text-gray {
        color: #ced4da !important;
    }
	.text-gray-dark {
        color: #343a40 !important;
    }
	.text-navy {
        color: #001f3f !important;
    }
	.text-maroon {
        color: #85144b !important;
    }
	.text-brown {
        color: #806248 !important;
    }
	.text-magenta {
        color: #f012be !important;
    }
	.text-lime {
        color: #01ff70 !important;
    }
	.text-black {
        color: #000 !important;
    }

	.text-light {
        color: #f8f9fa !important;
    }
	.text-dark {
        color: #343a40 !important;
    }


    /** Border */
.border-blue {
    border-color: #1f44ff !important;
}
.border-indigo {
    border-color: #6610f2 !important;
}
.border-purple{
    border-color: #6f42c1 !important;
}
.border-success-complete{
    border-color: #046136 !important;
}
.border-pink {
    border-color: #d63384 !important;
}
.border-red {
    border-color: #dc3545 !important;
}
.border-orange {
    border-color: #fd7e14 !important;
}
.border-yellow {
    border-color: #ffc107 !important;
}
.border-green {
    border-color: #198754 !important;
}
.border-teal {
    border-color: #20c997 !important;
}
.border-cyan {
    border-color: #0dcaf0 !important;
}
.border-white {
    border-color: #fff !important;
}

.border-gray {
    border-color: #ced4da !important;
}
.border-gray-dark {
    border-color: #343a40 !important;
}
.border-navy {
    border-color: #001f3f !important;
}
.border-maroon {
    border-color: #85144b !important;
}
.border-brown {
    border-color: #806248 !important;
}
.border-magenta {
    border-color: #f012be !important;
}
.border-lime {
    border-color: #01ff70 !important;
}
.border-black {
    border-color: #000 !important;
}
.border-primary {
    border-color: #1f44ff !important;
}
.border-secondary {
    border-color: #6c757d !important;
}
.border-success {
    border-color: #198754 !important;
}
.border-info {
    border-color: #0dcaf0 !important;
}
.border-warning {
    border-color: #ffc107 !important;
}
.border-danger {
    border-color: #dc3545 !important;
}
.border-light {
    border-color: #f8f9fa !important;
}
.border-dark {
    border-color: #343a40 !important;
}


.alert-purple {
    color: #512ca9;
    background-color: #dbd1e7 !important;
    border-color: #c5badb
}

.alert-success-complete {
    background-color: #198754 !important;
    color: #fff;
    border-color: #198754;
}


.bg-soft-danger {
    color: #842029;
    background-color: #f8d7da !important;
    border-color: #f5c2c7;
}

.bg-beige {
    background-color: #f5f5dc !important;
}
